* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: GlacialIndifference;
  src: url("./fonts/GlacialIndifference-Regular.otf");
}

@font-face {
  font-family: Muli;
  src: url("./fonts/Muli.ttf");
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: inherit;
}

body,
html {
  margin: 0;
  margin-top: -15px;
}

body {
  padding: 0;
  font-family: "GlacialIndifference";
}
/* header */
header {
  background-color: #e1decd;
  display: flex;
  justify-content: space-between;
  height: 150px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btn {
  z-index: 1;
  background-color: #e1decd;
  border: none;
  height: max-content;
  margin-right: 50px;
}

.nav-btn img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-top: 60px;
}

.header-h1 {
  font-family: Poppins;
  font-size: 40px;
  margin-top: 70px;
  margin-left: 65px;
}

.header-sp {
  color: red;
}

.header-ul {
  z-index: 1;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  margin-right: 50px;
}

.header-li {
  padding-left: 10px;
  margin-left: 5px;
}
/* end header */

/*  <!-- section 1 --> */
.first-page {
  margin-top: -120px;
  background-color: #e1decd;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.first-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 220px;
  margin-top: 40px;
}

.layer502-img {
  margin-right: 60px;
}



.first-page-container h1 {
  font-size: 76px;
  font-family: "GlacialIndifference";
  font-weight: 100;
}


.first-page-container p {
  font-family: "Muli";
  font-size: 23px;
  margin: 30px 0;
  line-height: 1.6;
}

.first-page-container button {
  font-family: "Montserrat";
  font-size: 12px;
  background-color: #ee3364;
  color: white;
  height: 60px;
  width: 180px;
  border: none;
}

/* end <!-- section 1 --> */

.second-page {
  background-image: url("./images/Layer\ 500.png");
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  gap: 3%;
  padding: 0 15%;
  padding-top: 160px;
  padding-bottom: 100px;
  z-index: -1;
}

.second-page-div {
  margin-left: 7%;
  width: 52%;
  height: 640px;
  position: relative;
}

.main-div {
  background-color: #6f7071;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 55%;
  height: 65%;
  z-index: 3;
}

.background-div {
  background-color: #f2f4f5;
  width: 70%;
  height: 90%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.second-page-content {
  width: 40%;
  padding: 100px 0;
}

.second-page-content h1 {
  font-size: 76px;
  font-family: "GlacialIndifference";
  font-weight: 900;
}

.second-page-content p {
  width: 90%;
  line-height: 1.3;
  font-family: "Mulish";
  font-weight: 400;
  font-size: 23px;
  margin: 30px 0;
}

.second-page-content button {
  font-family: "Mulish";
  font-size: 12px;
  background-color: #ee3364;
  color: white;
  margin-top: 30px;
  padding: 23px 40px;
  border: none;
}

/* SECTION 3 */

.section-three {
  padding: 80px 18%;
  text-align: center;
  
}

.section-three > p {
  color: #2ed279;
  font-size: 12px;
  font-family: "GlacialIndifference";
}

.section-three > h1 {
  font-family: "GlacialIndifference";
  font-size: 70px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: -5px;
}

.third-section-container {
  font-family: "muli";
  font-weight: 100;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  row-gap: 70px;
  padding: 85px 15px;
  padding-bottom: 30px;
  margin-bottom: 10px;
}

.third-section-container > div {
  display: flex;
  gap: 30px;
  margin-top: -20px;
}
.icon-div{
  margin-top: 20px;
}
.grid-content-div {
  text-align: start;
}

.grid-content-div > h3 {
  margin-bottom: 20px;
  font-size: 26px;
}

.grid-content-div > p {
  font-size: large;
  line-height: 1.5;
}

/* SECTION 4 */

.section-four {
  height: 585px;
  background-color: #BBBBBB;
  padding: 0 20%;
}

.section-four > div {
  background-color: #D0D0D0;
}

.section-four-img-div {
  width: 380px;
  height: 585px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.overlay-div {
  position: absolute;
  width: 93%;
  height: 90%;
  background-color: #ee3365e3;
  top: 2%;
  left: 3.5%;
  color: white;
  width: 95%;
  padding: 74% 5%;
  text-align: center;
  font-family: "GlacialIndifference";
}

.overlay-div h1 {
  font-weight: 600;
  font-size: 39px;
  transform: translate(15px, -15px);
  font-weight: normal;
}

.overlay-div h3 {
  margin-bottom: 40px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "Muli";
  font-weight: 100;
  text-align: center;
  margin-top: -10px;
  margin-left: 20px;
}

.overlay-div > div > img {
  margin: 0 5px;
  transform: translate(15px, -15px);
}

.section-four-img-div > img {
  width: 110%;
  height: 110%;
  margin-top: -5%;
  margin-left: -5%;
  object-fit: cover;
  display: block;
}

/* SECTION 5 */

.section-five {
  text-align: center;
  padding: 130px 20%;
  background-color: #FDF4B4;
}

.section-five > p {
  color: #2ed279;
  margin-left: 40px;
  margin-top: -10px;
}

.section-five > h1 {
  font-family: "GlacialIndifference";
  font-size: 70px;
  margin-bottom: 25px;
  padding-bottom: 5px;
}

.section-five > ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  font-weight: 900;
  letter-spacing: 1px;
  font-family: "Muli";
  font-size: 15px;
}


.grid-container {
  margin: 50px 0;
  display: grid;
  grid-template:
    "tl tl tr" 550px
    "ml mr mr" 550px
    "bl bl br" 550px / 1fr 1fr 1fr;
  gap: 40px;
  font-family: "GlacialIndifference";
}

.grid-tl {
  grid-area: tl;
  background-color: #FAE0CD;
}
.grid-tr {
  grid-area: tr;
  background-color: white;
}
.grid-ml {
  grid-area: ml;
  background-color: #FB888F;
}
.grid-mr {
  grid-area: mr;
  background-color: #9DE1E4;
}
.grid-bl {
  grid-area: bl;
  background-color: #81B5FF;
}
.grid-br {
  grid-area: br;
  background-color: #FFAF96;
}

.grid-container > div {
  text-align: start;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
  position: relative;
}

.grid-container > div > div {
  position: absolute;
  left: 40px;
  bottom: 40px;
}

.grid-container > div h2 {
  font-size: 45px;
  margin-bottom: 50px;
  margin-left: 20px;
  font-weight: 800;
  font-family: "GlacialIndifference";

}


.section-five > button {
  margin: 10px 0;
  background-color: #ee3364;
  padding: 22px 60px;
  color: white;
}

/* SECTION 6 */

.section-six {
  display: flex;
  justify-content: space-between;
  padding: 100px 20%;
  color: white;
  background-color: rgb(49, 49, 49);
  font-family: "GlacialIndifference";
}

.section-six > div {
  display: flex;
  align-items: center;
  width: max-content;
  margin-top: -10px;
}

.section-six .image-div {
  background-color: #6f7071;
  border-radius: 50%;
  padding: 15px;
  width: 110px;
  aspect-ratio: 1;
  margin-right: 30px;
}

.section-six .image-div img {
  width: 100%;
  height: 100%;
}

.section-six h1 {
  font-size: 55px;
}

.section-six h3 {
  font-weight: 400;
  font-size: 27px;
}

/* SECTION 7 */

.section-seven {
  padding: 160px 20%;
}

.section-seven > div {
  margin-bottom: 50px;
  display: flex;
  gap: 30px;
}

.seven-image-div {
  border: dotted 4px #6f7071;
  border-radius: 50%;
  padding: 20px;
  width: 450px;
  height: 450px;
  aspect-ratio: 1;
  position: relative;
}

.section-seven img {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  object-fit: cover;
  background-image: url("./images/Layer\ 496.png");
  background-repeat: no-repeat;
  border-radius: 50%;
  padding: 30px;
}

.seven-image-div:last-child img {
  background-image: url("./images/Layer\ -1.png");
}

.seven-content-div {
  margin-left: 60px;
  font-family: "GlacialIndifference";
}

.seven-content-div h1 {
  font-size: 60px;
  line-height: 0.9;
  margin-bottom: 40px;
}

.seven-content-div p {
  font-size: large;
  line-height: 1.5;
  width: 90%;
}

.seven-content-div li {
  margin: 10px 0;
  padding-left: 45px;
  font-size: x-large;
  background-image: url("./images/menu\ icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 0px;
}

/* SECTION 8 */

.section-eight {
  text-align: center;
  padding: 35px 20%;
  padding-bottom: 145px;
}

.section-eight > p {
  color: #2ed279;
}

.section-eight > h1 {
  font-family: "GlacialIndifference";
  font-weight: 770;
  font-size: 76px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.section-eight > div {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.eight-card {
  width: 100%;
}

.eight-img-div {
  width: 100%;
  aspect-ratio: 1;
  background-color: #ccc;
}

.eight-card img {
  width: 100%;
  height: 100%;
}

.eight-content-div {
  background-color: #E5E5E5;
  text-align: start;
  transition: 200ms;
}


.eight-content-div {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.eight-content-div ul {
  display: flex;
  gap: 15px;
}

.eight-content-div li {
  border: solid 1px gray;
  color: gray;
  padding: 3px;
  height: min-content;
  line-height: 0.6;
  border-radius: 2px;
}

.eight-content-div h4 {
  font-size: 23px;
}

.eight-content-div p {
  margin: 10px 0;
  font-size: large;
  color: #ccc;
}

.eight-card:hover .eight-content-div {
  background-color: #ee3364;
  color: #F1F1F1;
}

.eight-card:hover .eight-content-div li {
  color: white;
  border-color: white;
}

.eight-card:hover .eight-content-div p {
  color: white;
}

/* SECTION 9 */

.section-nine {
  padding: 70px 20%;
  padding-bottom: 100px;
}

.nine-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.nine-img-div > div {
  margin-top: 35px;
  border-radius: 50%;
  width: 140px;
  text-align: center;
  margin-bottom: 20px;

}

.nine-img-div > div img {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin: auto;
  margin-bottom: 20px;
  display: block;
  object-fit: cover;
}

.section-nine > div > p {
  width: 60%;
  margin: auto;
  line-height: 1.5;
  font-size: large;
  text-align: center;
}

.nine-icons-div {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

/* FOOTER */

footer {
  background-color: rgb(63, 63, 63);
  text-align: center;
}

footer > div {
  width: 70%;
  margin: auto;
}

.footer-content {
  padding: 130px 20%;
  padding-bottom: 70px;
}

.footer-content > div {
  width: 30%;
  margin: auto;
  margin-bottom: 40px;
}

.footer-content img {
  width: 100%;
}

.footer-content p {
  color: gray;
  font-size: large;
  margin-bottom: 30px;
}

.footer-content ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.all-rights {
  background-color: rgb(31, 31, 31);
  width: 100%;
  padding: 30px;
  color: white;
}
