* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: inherit;
}

body,
html {
  margin: 0;
  margin-top: -15px;
}

body {
  padding: 0;
  font-family: "GlacialIndifference";
}
/* header */
header {
  background-color: #e1decd;
  display: flex;
  justify-content: space-between;
  height: 150px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btn {
  z-index: 1;
  background-color: #e1decd;
  border: none;
  height: max-content;
  margin-right: 50px;
}

.nav-btn img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-top: 60px;
}

.header-h1 {
  font-family: Poppins;
  font-size: 40px;
  margin-top: 70px;
  margin-left: 65px;
}

.header-sp {
  color: red;
}

.header-ul {
  z-index: 1;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  margin-right: 40px;
}

.header-li {
  padding-left: 10px;
  margin-left: 5px;
}
/* end header */

/*  <!-- section 1 --> */
.first-page {
  margin-top: -120px;
  background-color: #e1decd;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.first-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 250px;
  margin-top: 20px;
}

.layer502-img {
  margin-right: 60px;
}

@font-face {
  font-family: GlacialIndifference;
  src: url("./fonts/GlacialIndifference-Regular.otf");
}

.first-page-container h1 {
  font-size: 76px;
  font-family: "GlacialIndifference";
  font-weight: 900;
}

.first-page-container p {
  font-family: "Mulish";
  font-size: 23px;
  margin: 30px 0;
}

.first-page-container button {
  font-family: "Mulish";
  font-size: 12px;
  background-color: #ee3364;
  color: white;
  height: 60px;
  width: 180px;
  border: none;
}

/* end <!-- section 1 --> */

.second-page {
  background-image: url("./images/Layer\ 500.png");
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  gap: 3%;
  padding: 0 15%;
  padding-top: 160px;
  padding-bottom: 100px;
  z-index: -1;
}

.second-page-div {
  margin-left: 7%;
  width: 52%;
  height: 640px;
  position: relative;
}

.main-div {
  background-color: #6f7071;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 55%;
  height: 65%;
  z-index: 3;
}

.background-div {
  background-color: #f2f4f5;
  width: 70%;
  height: 90%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.second-page-content {
  width: 40%;
  padding: 100px 0;
}

.second-page-content h1 {
  font-size: 76px;
  font-family: "GlacialIndifference";
  font-weight: 900;
}

.second-page-content p {
  width: 90%;
  line-height: 1.3;
  font-family: "Mulish";
  font-weight: 400;
  font-size: 23px;
  margin: 30px 0;
}

.second-page-content button {
  font-family: "Mulish";
  font-size: 12px;
  background-color: #ee3364;
  color: white;
  margin-top: 30px;
  padding: 23px 40px;
  border: none;
}

/* SECTION 3 */

.section-three {
  padding: 80px 18%;
  text-align: center;
  font-family: "GlacialIndifference";
}

.section-three > p {
  color: #2ed279;
  font-size: 12px;
}

.section-three > h1 {
  font-size: 70px;
  font-weight: 600;
}

.third-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  row-gap: 85px;
  padding: 60px 0;
  padding-bottom: 15px;
}

.third-section-container > div {
  display: flex;
  gap: 15px;
}

.grid-content-div {
  text-align: start;
}

.grid-content-div > h3 {
  margin-bottom: 20px;
  font-size: 26px;
}

.grid-content-div > p {
  font-size: large;
  line-height: 1.5;
}

/* SECTION 4 */

.section-four {
  height: 585px;
  background-color: #ccc;
  padding: 0 20%;
}

.section-four > div {
  background-color: rgb(231, 231, 231);
}

.section-four-img-div {
  width: 380px;
  height: 585px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.overlay-div {
  position: absolute;
  width: 93%;
  height: 90%;
  background-color: #ee3365e3;
  top: 2%;
  left: 3.5%;
  color: white;
  width: 90%;
  padding: 74% 5%;
  text-align: center;
  font-family: "GlacialIndifference";
}

.overlay-div h1 {
  font-weight: 600;
  font-size: 35px;
}

.overlay-div h3 {
  margin-bottom: 40px;
  margin-top: 10px;
  font-weight: 400;
  letter-spacing: 1px;
}

.overlay-div > div > img {
  margin: 0 10px;
}

.section-four-img-div > img {
  width: 110%;
  height: 110%;
  margin-top: -5%;
  margin-left: -5%;
  object-fit: cover;
  display: block;
}

/* SECTION 5 */

.section-five {
  text-align: center;
  padding: 130px 20%;
  background-color: khaki;
}

.section-five > p {
  color: #2ed279;
}

.section-five > h1 {
  font-size: 70px;
  margin-bottom: 30px;
}

.section-five > ul {
  display: flex;
  justify-content: space-between;
  font-family: "Mulish";
  width: 50%;
  margin: auto;
  
  font-weight: 600;
  letter-spacing: 1px;
}

.grid-container {
  margin: 50px 0;
  display: grid;
  grid-template:
    "tl tl tr" 550px
    "ml mr mr" 550px
    "bl bl br" 550px / 1fr 1fr 1fr;
  gap: 40px;
}



.grid-tl {
  grid-area: tl;
  background-color: wheat;
}
.grid-tr {
  grid-area: tr;
  background-color: white;
}
.grid-ml {
  grid-area: ml;
  background-color: #ee3364;
}
.grid-mr {
  grid-area: mr;
  background-color: aquamarine;
}
.grid-bl {
  grid-area: bl;
  background-color: dodgerblue;
}
.grid-br {
  grid-area: br;
  background-color: burlywood;
}

.grid-container > div{
  text-align: start;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
  position: relative;
}

.grid-container > div > div{
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.grid-container > div h2{
  font-size: 35px;
  margin-bottom: 20px;
}

.section-five > button {
  margin: 10px 0;
  background-color: #ee3364;
  padding: 22px 60px;
  color: white;
}